* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

$white: #fff;
$black-princiapl: #212121;
$color: #B0C0F4;
$gray-light: #EFEFEF;
$gray-input: #ECECEC;