* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 63px;
  background-color: #fff;
  position: relative;
  box-shadow: -1px -3px 10px 0px rgba(0, 0, 0, 0.274);
  position: sticky;
  top: 0;
  z-index: 3;
}
.header .header__content {
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
}
.header .header__content i {
  font-size: 25px;
  color: #212121;
  cursor: pointer;
}
.header .menu {
  justify-content: left;
  padding-left: 20px;
}
.header .mood-dark {
  justify-content: right;
  padding-right: 20px;
}
.header .header__menu-desplegable {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 63px;
  width: 350px;
  height: calc(100vh - 63px);
  background-color: #fff;
  padding: 50px 20px;
  box-shadow: -5px 10px 10px 0px rgba(0, 0, 0, 0.274);
  z-index: 2;
}
.header .header__menu-desplegable a {
  width: 100%;
  color: #212121;
  font-size: 25px;
}
.header .header__menu-desplegable .header__option {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}
.header .header__menu-desplegable .header__option a {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 25px;
  padding: 15px;
  border-radius: 10px;
}
.header .header__menu-desplegable .header__option a:hover {
  background-color: #ECECEC;
}
.header .header__menu-desplegable .header__lenguaje {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  cursor: pointer;
}
.header .header__menu-desplegable .header__lenguaje a {
  text-align: center;
}
.header .toggle {
  display: none;
}

.main .section-inicio {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 63px);
  position: relative;
}
.main .section-inicio .sectino-inicio__container-redes {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 180px;
}
.main .section-inicio .sectino-inicio__container-redes i {
  font-size: 25px;
  background-color: #EFEFEF;
  padding: 10px;
  border-radius: 100%;
  transition: background-color 0.2s ease;
}
.main .section-inicio .sectino-inicio__container-redes i:hover {
  background-color: #B0C0F4;
}
.main .section-inicio .section-inicio__wave {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.main .section-info {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  background-color: #212121;
}
.main .section-info .section-infor__welcome {
  width: 100%;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  color: #fff;
}
.main .section-info .section-info__servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 50px;
}
.main .section-info .section-info__servicios .section-info__container {
  display: flex;
  align-items: center;
  gap: 30px;
}
.main .section-info .section-info__servicios .section-info__container p {
  color: #fff;
  font-size: 23px;
}
.main .section-info .section-info__servicios .section-info__container i {
  color: #212121;
  background-color: #fff;
  padding: 10px;
  font-size: 30px;
  border-radius: 30px;
}
.main .section-info .section-info__svg {
  height: 450px;
  position: relative;
}
.main .section-info .section-info__svg img {
  position: absolute;
  width: 280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .section-info .section-info__svg .img-1 {
  top: 105px;
}
.main .section-info .section-info__svg .img-3 {
  top: 358px;
}
.main .section-info .section-info__cv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .section-info .section-info__cv .section-info__sub-title {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 35px;
  font-weight: 400;
}
.main .section-info .section-info__cv p {
  font-size: 23px;
  margin-top: 40px;
  color: #fff;
  text-align: center;
}
.main .section-info .section-info__cv .sectino-inicio__container-redes {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 40px;
  gap: 10px;
}
.main .section-info .section-info__cv .sectino-inicio__container-redes i {
  color: #fff;
  font-size: 25px;
  padding: 10px;
  border-radius: 50px;
}
.main .section-info .section-info__cv .sectino-inicio__container-redes i:hover {
  background-color: #fff;
  color: #212121;
}
.main .section-info .section-info__cv .section-info__butotn {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  color: #212121;
  font-size: 20px;
  font-weight: 600;
  border-radius: 15px;
  background-color: #B0C0F4;
  transition: all 0.2s;
}
.main .section-info .section-info__cv .section-info__butotn:hover {
  background-color: #fff;
}
.main .contact {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  position: relative;
}
.main .contact .contact__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 500px;
  margin-top: 120px;
  background-color: #212121;
  border-radius: 20px 20px 0 0;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.08);
}
.main .contact .contact__info h2 {
  font-size: 40px;
  color: #fff;
  margin-bottom: 10px;
}
.main .contact .contact__info p {
  width: 50%;
  text-align: center;
  font-size: 25px;
  color: #fff;
}
.main .contact .contact__forms {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 500px;
  border-radius: 0 0 20px 20px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.08);
}
.main .contact .contact__forms h2 {
  text-align: left;
  width: 70%;
  color: #212121;
  font-size: 40px;
  margin-bottom: 10px;
}
.main .contact .contact__forms form {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 10px;
  border-radius: 20px;
}
.main .contact .contact__forms form .input {
  height: 55px;
  padding: 10px 15px;
  background-color: #fff;
  border: none;
  color: #212121;
  font-size: 20px;
  border-radius: 10px;
  border: 3px solid #ECECEC;
  transition: border 0.3s ease;
}
.main .contact .contact__forms form .tell-us {
  height: 150px;
  text-align: start;
  vertical-align: top;
  resize: none;
}
.main .contact .contact__forms form .input:focus {
  outline: none;
  border: 3px solid #B0C0F4;
}
.main .contact .contact__forms form button {
  height: 50px;
  border: none;
  background-color: #212121;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  transition: background-color 0.1s ease;
}
.main .contact .contact__forms form button:hover {
  background-color: #B0C0F4;
  color: #fff;
}
.main .contact .section-inicio__wave {
  width: 100%;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
}

/*# sourceMappingURL=main.css.map */
